/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Cabecera fija */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4a4a4a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

header img {
    width: 100px;
    height: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

/* Sección Hero con imagen de fondo */
.hero {
    background-image: url('caja.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 200px 20px;
    margin-top: 80px; /* Ajuste para evitar que el header se superponga */
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
